* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.select-container {
 height: 40px;
 width: 200px;
 border: 1px solid #ddd;
 border-radius: 5px;
 position: relative;
 margin: 20px;
 font-family: inherit;
}

.select-container .select-box {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 height: 100%;
 padding: 0 5px 0 10px;
 cursor: pointer;
 z-index: 2;
 position: relative;
}

.select-container .select-box::after {
 content: "";
 width: 8px;
 height: 8px;
 border-bottom: 2px solid #ddd;
 border-right: 2px solid #ddd;
 position: absolute;
 right: 10px;
 top: 50%;
 transform: translateY(-50%) rotate(45deg);
 transition: transform 0.1s;
}

.select-container .select-box.active::after {
 transform: translateY(-50%) rotate(-135deg);
}

.select-container .select-box * {
 pointer-events: none;
}

.select-container .select {
 position: absolute;
 top: 100%;
 left: 0;
 border: 1px solid #ddd;
 width: 100%;
 box-sizing: border-box;
 border-radius: 5px;
 margin-top: 5px;
 overflow: hidden;
 height: 0;
 transform: translateY(-200%);
 opacity: 0;
 transition: height 0.1s ease;
}

.select-container .select :is(.option, .option-search input) {
 width: 100%;
 height: 40px;
 display: flex;
 align-items: center;
 border-bottom: 1px solid #ddd;
 padding: 10px;
 cursor: pointer;
 transition: 0.1s ease;
}

.select-container .select .option-search {
 padding: 0;
}

.select-container .select .option-search input {
 width: 100%;
 height: 100%;
 border: none;
 outline: none;
 font-family: inherit;
 padding: 10px;
 border-bottom: 1px solid #ddd;
 cursor: auto;
}

.select-container .select .option.disabled {
 pointer-events: none;
 opacity: 0.5;
}

.select-container .select .option:hover {
 background-color: rgba(0, 128, 128, 0.21);
}

.select-container .select .option.active {
 background-color: rgb(0, 128, 128);
 color: #fff;
}

.select.active {
 opacity: 1;
 transform: translateY(0);
}